<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>
            <div class="row container">
                <!-- <p>Topic; <a href="/2016">Link to 2016</a>  -->

                <h2>
                    &emsp; We are a newly-built, rapidly-developing, passionate young school at Jilin University, established on May 26, 2018. Currently we have more than 40 graduate students and 10 doctoral students working in our labs, aiming for top-tier research works.
                    In recent two years, SAI has undertaken several national scientific research projects in Machine Learning, Natural Language Processing, and Knowledge Graph. Our total research funding exceeds 17.9 million CNY (which is about 2.5 million US dollars). We also published 24 academic papers in top-tier conferences (CCF-A/B) and journals (CAS-JCR 1/2, SCI-indexed).
                </h2> 
                <h2>
                    &emsp; <a style="color: red;">We  are actively hiring top talents for multiple tenure-track faculty positions at all levels (Assistant Professor, Associate Professor, Full Professor)! </a> We invite applications in all areas of Artificial Intelligence, including but not limited to the following areas: machine learning, computer vision, natural language processing, Knowledge Representation and Reasoning, robotics, etc.
                </h2>
                <h2>
                    
                </h2> 
                

                <!-- </p>
                &emsp; In order to seize the opportunities of Artificial Intelligence (AI) development and to promote industrial 
                transformation and local economic development, Jilin University established the School of Artificial Intelligence 
                on May 26, 2018. The establishment of the School of Artificial Intelligence aims to implement the “New Generation 
                Artificial Intelligence Development Plan”, and “University Innovative Artificial Intelligence Plan”. Our mission is 
                to promote technological innovation in the field of AI, push the frontier of AI research, and cultivate engineering 
                & research talents for national AI strategy.

                Jilin University was one of the earliest units that engaged in AI research in China. In 1977, Academician of Chinese 
                Academy of Sciences, Prof. Xiang-Hao Wang, took the leading role of artificial intelligence research in China. It has 
                been more than 40 years since Jilin University started systematical research in AI, that leaves this university a 
                strong foundation in research and education. As of today, the advantages of inter-disciplines are more prominent, 
                since Jilin University can actively expand the field of Artificial Intelligence with the solid base and rapid 
                development of computer science, mathematics, information engineering, control science, etc. <br><br>

                &emsp; Professor Yi Chang, Dean of the School of Artificial Intelligence, Jilin University, is a Chinese National 
                Distinguished Professor in 2017, a British Computer Society (BCS) Fellow, an ACM Distinguished Scientist, and a 
                well-known scholar in the field of Artificial Intelligence. He was a research director of Yahoo Research, a Technical 
                Vice President of Huawei Research America. He has published more than 100 papers in top conferences or journals and 
                won the Best Paper Award on ACM KDD'2016 and ACM WSDM'2016. He served as one of the conference General Chairs for 
                ACM WSDM'2018, and he will serve as one of the conference General Chairs for ACM SIGIR'2020. <br><br>

                &emsp; The School of Artificial Intelligence will start with a high standard by integrating available resources. We will 
                not only collaborate with the existing AI-related academic and talent advantages of the university, but also explore 
                new modes of AI development in the new era. At present, we are building a comprehensive system with a strong academic 
                background, and looking for a new path of progression, thus we can make positive contributions to the country's 
                initiative in the new round of international technology competition. The School of Artificial Intelligence will 
                seize the historical opportunity, breakthrough AI core technologies, and finally, develop a competitive institute 
                in the future of Artificial Intelligence. <br><br> -->

                
                <!-- <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br> -->

                 <!-- <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center> -->
            </div>
        </div>
    </section>